{% extends 'base.html.twig' %}

{% block title %}Liste des Périodes{% endblock %}

{% block body %}
    <h1>Liste des Périodes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
        </thead>
        <tbody>
        {% for period in periods %}
            <tr>
                <td>{{ period.id }}</td>
                <td>{{ period.name }}</td>
                <td>{{ period.description }}</td>
                <td>{{ period.weekStart|date('Y-m-d') }}</td>
                <td>{{ period.weekEnd|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
