{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <div class="container">

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.chosenGroups) }}
            {{ form_widget(form.chosenGroups) }}
            <div class="form-error">
                {{ form_errors(form.chosenGroups) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}