{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profil</h1>
    <p><strong>Prénom :</strong> {{ user.firstname }}</p>
    <p><strong>Nom :</strong> {{ user.lastname }}</p>
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Statut :</strong> {{ user.roles[0] }}</p>
    <p><strong>Adresse :</strong> {{ user.address }}</p>
    <p><strong>Téléphone :</strong> {{ user.phone }}</p>
    <a href="{{ path('app_user') }}">Accueil</a>
{% endblock %}
