{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="profil">
        <h1>Profil</h1>
        <p><strong>Prénom </strong></p><p class="value_profil">{{ user.firstname }}</p>
        <p><strong>Nom </strong></p><p class="value_profil">{{ user.lastname }}</p>
        <p><strong>Email </strong></p><p class="value_profil">{{ user.email }}</p>
        <p><strong>Statut </strong></p><p class="value_profil">{{ user.roles[0] }}</p>
        <p><strong>Adresse </strong></p><p class="value_profil">{{ user.address }}  | {{ user.postalCode }}  {{ user.city }}</p>
        <p><strong>Téléphone </strong></p><p class="value_profil">{{ user.phone }}</p>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn_edit_profil">Modifier le profil</a>
    </div>
{% endblock %}